{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Exchange Rate</th>
            <th scope="col">Dates</th>
        </tr>
        </thead>
        <tbody>
        {% for key,item in data %}
        <tr>
            <td>{{ item.rate }}</td>
            <td>{{ item.dates }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}