{% extends 'base.html.twig' %}

{% block body %}
    {% if exchange_rates is defined and exchange_rates|length > 0 %}
        <span>Received {{ exchange_rates|length }} exchange rates from API!</span>
        <span>Now you can check <a href="/table-report">Table report</a></span>
    {% else %}
        <a href="/get-exchange-rates">
            <button type="button" class="btn btn-primary">Get exchange rates for year 2020</button>
        </a>
    {% endif %}
{% endblock %}