{% extends 'base.html.twig' %}

{% block body %}

    <a href="/export-excel">
        <button type="button" class="btn btn-primary">Export table to Excel (xlsx)</button>
    </a>

    <br /><br />

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Year / Month</th>
            <th scope="col">Min rate</th>
            <th scope="col">Max rate</th>
            <th scope="col">Average rate</th>
        </tr>
        </thead>
        <tbody>
        {% for key,item in data %}
        <tr>
            <th scope="row">{{ year }} / {{ key }}</th>
            <td>{{ item.min_rate }}</td>
            <td>{{ item.max_rate }}</td>
            <td>{{ item.avg_rate }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}